/* Fonts Start */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* Fonts End */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Utility Classes */
.primary-text {
  color: rgb(223, 191, 10);
}
.btn {
  display: inline-block;
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
}
.btn-primary {
  color: white;
  border: 1px solid white;
}
.btn-primary:hover {
  background-color: rgb(223, 191, 10);
  text-shadow: 1px black;
}
/* Header Start */
header {
  height: 100vh;
  background: url("./img/home_bg.jpeg") center center/cover no-repeat;
  position: relative;
}
#navbar {
  display: flex;
  justify-content: space-between;

  align-items: center;
}
#navbar ul {
  display: flex;
  margin-right: 80px;
}
#navbar img {
  width: 70px;
  margin-left: 80px;
}
#navbar ul li a {
  padding: 10px 20px;
  color: white;
  font-weight: bold;
}
#navbar ul li a:hover {
  border-bottom: 1px solid rgb(223, 191, 10);
}
header .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}
header .content h1 {
  font-size: 50px;
  color: white;
}
header .content p {
  margin: 20px 0 50px;
  color: white;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.315);
}
header * {
  z-index: 10;
}
/* Header End */
